/* Fonts style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body content width  */
.section-width{
    padding: 0 13%;
    margin-bottom: 40px;
}
.description{
    color: #727272;
}
/* Header and nav section*/
.header-section{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:27px 0;
    width: 100%;
    max-width: 1920px;
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 50px ;
}
.nav-title,.features-title,.first-section-title{
    font-size: 45px;
    font-weight: 700;
}
ul > li{
    font-size: 18px;
    font-weight: 500;

}
li > a{
    text-decoration: none;
    color: black;
}
/* header content  */
.header-info{
    text-align: center;
    margin-top: 30px;
}
.header-title{
    font-size: 75px;
    font-weight: 700px;
}
.header-description{
    padding: 0 200px;
    margin-top: 20px;
}
.button{
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.header-info img{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    object-fit: cover;
}
/* Main section  */
main{
    background-color: white;
}
.grid-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.image-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image-part img{
    width: 320px;
    height: 320px;
    padding: 15px;
}
.text-1{
    font-weight: 700;
}
.text-2{
    color: #131313;
    font-weight: 900;
}
.text-3{
    color: #FF900E;
    font-weight: 900;
}
.first-section-description{
    margin-top: 25px;
}
/* Features section  */
.features-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
    
}
.features-content{
   width: 60%;
   padding-right: 50px;
   margin-top: 10px;
}
.features-first-title-part{
    display: flex;
    gap: 10px;
    
}
.features-discription{
    margin-top: 20px;
}
.line{
    width: 5px;
    height: 110px;
    border-radius: 3px;
    background-color: #FF900E;
}
.card-text{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    padding: 30px;
    margin: 25px 0 ;
    width: 100%;
}
.card-text-title{
   font-size: 20px;
   font-weight: 600;
}
.card-text-description,.features-discription{
    font-weight: 400px;
}
.features-image img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 8px;
}
/* exprience year box */
.box-section{
    display: flex;
    justify-content: center;
    margin-top: -190px;
    margin-left: 200px;
}
.experience{
    width: 300px;
    height: 200px;
    background-color: #FF900E;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-of-exprience{
    font-size: 60px;
    color: white;
}
.exprience-title{
    color: white;
}
/* Achiment section  */
.some-facts{
    margin-top: 100px;
}
.our-works{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 10px;
}
.facts-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}
.facts-description,.sponspors-description{
    margin-top: 16px;
    width: 40%;
}
.achievement img{
    width: 40px;
    height: 40px;   
}
.achievement{
    margin: 0 auto;
    border: 3px solid #e6c8a6;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.achievement:hover{
    width: 230px;
    height: 230px;
    background-color: lightblue;
    transition: width .7s ,height .7s;
}
.achievement h1{
    font-size: 40px;
    margin-top: 8px;
    font-weight: 600;
}
.achievement p{
    font-size: 17px;
    font-weight: 600;
    margin-top: 7px;
}
/* Our sponspors sectoin  */
.sponspors{
    margin-top: 120px;
}
.sponspors-title{
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
}
.sponspors-description{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;  
}
.sponspors-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 30px;
}
.sponspors-logo img{
    width: 142px;
    height: 38px;
    filter: grayscale(100%);
    margin-bottom: 10px;
    margin: 15px;
}
/* Extran section our contact with us  */
.last-section{
    margin-top: 40px;
}
.contact-section{
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-radius: 10px;
}
/* Here i use our branches excat location using ellipse  */
.bar,.raj,.jes,.ctg{
    text-overflow: ellipsis;
}
.office-location h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.office-location{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.office-location p{
    padding: 10px;
}
.contact-title{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.contant-with-us{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-button{
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-weight: 700;
}
/* Footer section copyright  */
footer{
    border-radius: 10px;
}
.footer-section{
    background-color: #FFF4E7 ;
    padding: 30px 30px;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 5px;
}
/* code for Responsive using @media quary property*/
@media screen and (max-width:576px) {
    /* header section Responsive */
    .header-section{
        padding: 0;
    }
    nav{
        flex-direction: column;
    }
    nav >ul{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .nav-title{
        margin-bottom: 25px;
        font-size: 35px;
    }
    .header-title{
        font-size: 40px;
    }
    .header-description{
        padding: 0 40px;
    }
    .header-info img{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    /* grid image section Responsive */
    .grid-image-section{
        flex-direction: column;
        padding: 0;
    }
    .image-part{
        grid-template-columns: repeat(1,1fr);
    }
    /* .image-part >img:hover{
        width: 400px;
        height: 400px;
    } */
    .content-part{
        text-align: center;
        padding: 0 20px;
    }
    /* Features section Responsive */
    .first-section-title{
        font-size: 35px;
    }
    .features-section{
        padding: 20px;
        flex-direction: column;
        margin-top: 10px;
        gap: 20px;
    }
    .features-content{
       width: 100%;
       padding: 20px;
       text-align: center;
    }
    .card-text-description{
        margin-top: 10px;
    }
    .line{
        height: 213px;
        border: 1px solid #FF900E;
        padding: 3px;
    }
    .box-section{
        margin: 0;
    }
    .experience{
        width: 250px;
        height: 150px;
    }
    /* Some Facts and achievement section responsive  */
    .some-facts{
       margin: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .facts-title{
        margin-top: 40px;
    }
    .facts-description{
        margin-bottom: 20px;
        width: 80%;
    }
    .our-works{
        grid-template-columns: repeat(1,1fr); 
        gap: 20px;
    }
    .achievement:hover{
        width: 230px;
        height: 230px;
        background-color: lightblue;
        transition: width .7s ,height .7s;
        border: 3px solid orangered;
    }
    .achievement{
        width: 170px;
        height: 170px;
        margin-top: 0px;
    }
    /* Our sponspors section responsive */
    .sponspors{
        padding: 10px;
    }
    .sponspors-logo{
        justify-content: center;
    }
    .sponspors-description{
        width: 80%;
        margin-bottom: 20px;
    }
    /* Extra and contact section responsive */
    .last-section{
        padding: 0;
    }
    .contact-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 0;
    }
    .office-location h1{
        color: black;
    }
    .contact-title{
        color: black;
    }
    /* Footer section responsive */
    footer{
        margin: 0;
        border-radius: 0;
        margin-bottom: 0 !important;
    }
    .footer-section{
        padding: 20px 20px;     
    }    
}